.App {
  text-align: center;
}

.DayPicker-Day--postedDay {
  color: white;
  background-color: #ffc107;
}

.DayPicker-Day--mondays:not(.DayPicker-Day--outside) {
  color: #ffc107;
  background-color: #fffdee;
}